<!DOCTYPE html>
<html>
    <head>
        <title>Spiti blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Spiti blog</a></h1>
        </header>

        <article>
            <time>published: 30.06.2025, 12:23</time>
            <h2><a href="">My first post</a></h2>
            <p>It was a great trip</p>
        </article>

        <article>
            <time>published: 30.06.2025, 12:24</time>
            <h2><a href="">My second post</a></h2>
            <p>Awesome Places to be discovered</p>
        </article>
    </body>
</html>